
.userDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.userName {
	margin-bottom: 0;
}

.travelerType {
	margin-top: 5px;
	margin-bottom: 0px;
}

.upcomingTripWrapper {
	display: flex;
}

.preparations {
	margin-bottom: 0px;
}

@media screen and (max-width: 690px) {
	.upcomingTripWrapper {
		flex-direction: column;
	}
}