
.userDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.userName {
	margin-bottom: 0;
}

.travelerType {
	margin-top: 5px;
	margin-bottom: 0px;
}

.upcomingTripWrapper {
	display: flex;
	/* flex-direction: column; */

}

.preparations {
	margin-bottom: 0px;
}
.upcomingTripImageWrapper {
	
}