.dashboardNavbar {
	background-color: rgb(102, 186, 239);
}

.userName {
	margin-left: 5px;
	margin-right: 5px;
}

.linksList {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	margin-block: 0;
	margin-inline-start: 10px;
	margin-inline-end: 10px;
	padding: 0;
}

.links {
	text-decoration: none;
}
