.newTripForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.date,
.travelers,
.duration {
	border-color: rgb(103, 185, 239);
	border-radius: 8px;
	margin-bottom: 10px;
}

.submit {
	border-radius: 8px;
	border: none;
	margin-bottom: 10px;
	height: 25px;
}

.submit:hover {
	background-color: rgb(103, 185, 239);
}
