.newTripForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.date,
.travelers,
.duration {
	/* border: none; */
	border-radius: 8px;
	margin-bottom: 10px;
}

.submit {
	border-radius: 8px;
	border: none;
	margin-bottom: 10px;
}

.submit:hover {
	background-color: cornflowerblue;
}
