.header {
	margin: 0;
}

.appTitle {
	background-color: #90C3F2;
	text-align: center;
	margin: 0;
	padding: 10px;
}

.linksList {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style: none;
	margin-block: 0;
	margin-inline-start: 10px;
	margin-inline-end: 10px;
	padding: 0;
}

.links {
	text-decoration: none;
	color:black;
}
